fastapi
uvicorn
python-multipart
langchain==1.0.5
langchain-community==0.4.1
langchain-google-genai
langchain-text-splitters==1.0.0
google-generativeai
PyPDF2
faiss-cpu
python-dotenv
pydantic
langchain-core
langchain-groq
sentence-transformers
